<div mnFullpage
     [mnFullpageNavigation]="true"
     [mnFullpageKeyboardScrolling]="true">

    <div id="section1" class="section fp-section fp-table">
        <div class="fp-tableCell">
            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <h1>Element Labs</h1>
                    </div>
                </div>
            </div>     
        </div>
    </div>

    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <h2>About</h2>
        </div>
    </div>

    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <h2>Skills</h2>
        </div>
    </div>

    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <h2>Contact</h2>
        </div>
    </div>

</div>