$clear: rgba(255,255,255,0);
$primary-gradient-color: #2a3638;
$secondary-gradient-color: #e84a5f;

h1, p {
	color: white;
}

.slide {
  	background: url("https://source.unsplash.com/vJbz-O1NvSc/1920x1080/") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

	&:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $primary-gradient-color;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, $primary-gradient-color, $secondary-gradient-color);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, $primary-gradient-color, $secondary-gradient-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		opacity: .85; 
  	}
}

.jumbotron {
	background: $clear;
}

.lead {
	text-align: center;
	color: white;
}
