<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<img src="https://source.unsplash.com/random/600x600" alt="">
		</div>
		<div class="col-sm-8">
			<h2>JavaScript Developer</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe omnis mollitia expedita blanditiis officia ea, velit est itaque. Rerum ducimus eius quis quaerat ullam hic illum dolore, voluptatibus dignissimos. Culpa.</p>
			<button class="btn btn-outline-warning">Hire Me</button>
			<button class="btn btn-outline-warning">Download Resume</button>
		</div>
	</div>
</div>