
	<div class="row">
		<div class="col-sm-6">
			<img src="https://source.unsplash.com/800x550/?faces" alt="">
		</div>
		<div class="col-sm-5 hidden-md-down">
			<h2>About</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui autem asperiores ad, iste nesciunt nemo aperiam exercitationem expedita porro. Sed voluptatem saepe sequi ipsam rerum officiis mollitia repudiandae error quod! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi dolorum, similique nihil, soluta cumque odit pariatur maiores, itaque ratione magni obcaecati dolorem nemo praesentium repudiandae ullam consectetur ea dolores quis!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequuntur, ab deleniti, recusandae non expedita illo deserunt harum, ipsum consectetur animi quos totam quia quo rem provident numquam odio dolores!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quo natus sunt. Rerum fugiat sed itaque, quam nemo consequatur reprehenderit! Quia natus, iste consequuntur at error tenetur earum voluptatum eos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut totam reiciendis quibusdam eos, inventore aut. Non perferendis velit quaerat. Explicabo iure, laborum consequatur aperiam. Delectus similique, voluptates unde! Dolores, voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores delectus rem, nisi ipsum doloremque earum at ratione? Dolor, eveniet, veritatis! Sit ab adipisci sed possimus ratione est, dolor eius repellat.</p>
      <button class="btn btn-outline-primary">Contact Us</button>
		</div>

		<div class="col-sm-5 hidden-md-up">
			<ngb-tabset>
  			<ngb-tab title="About">
  			  <ng-template ngbTabContent>
  			    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
  			    master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
  			    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
  			    iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
  			  </ng-template>
  			</ngb-tab>
  			<ngb-tab title="Why">
  			  <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
  			    <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
  			    craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
  			    cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
  			    yr, vero magna velit sapiente labore stumptown.</p>
  			  </ng-template>
  			</ngb-tab>
			</ngb-tabset>
		</div>
	</div>