<div mnFullpage
     [mnFullpageNavigation]="true"
     [mnFullpageKeyboardScrolling]="true"
     [mnFullpageSlidesNavigation]="true"
     [mnFullpageControlArrows]="false"
     mnFullpageSlidesNavPosition="bottom">

    <div id="section1" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <app-header></app-header>
        </div>
    </div>

    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <app-about></app-about>
        </div>
    </div>

    <div id="section3" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <app-skills></app-skills>
        </div>
    </div>

    <div id="section4" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <app-contact></app-contact>
        </div>
    </div>

</div>

<app-footer></app-footer>







