<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Social Icons</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div mnFullpage
     [mnFullpageNavigation]="true"
     [mnFullpageKeyboardScrolling]="true"
     [mnFullpageSlidesNavigation]="true"
     [mnFullpageControlArrows]="false"
     mnFullpageSlidesNavPosition="bottom">

    <div id="section1" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <app-header></app-header>
        </div>
    </div>

    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <app-about></app-about>
        </div>
    </div>

    <div id="section3" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <app-skills></app-skills>
        </div>
    </div>

    <div id="section4" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <app-contact></app-contact>
        </div>
    </div>

</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>




